/*	HERO SECTION
------------------------*/

.hero {
  background-image: url('../images/home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  min-height: 70vh;
  padding: 70px 0;
  position: relative;
  .row-inside {
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    h1 {
      color: $pink;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1em;
      max-width: 800px;
      @include bp(tablet) {
        font-size: 3rem;
      }
    }
    span {
      font-size: 1.8rem;
      font-style: italic;
      margin-bottom: .5em;
    }
    h4 {
      font-size: 1rem;
      max-width: 800px;
      @include bp(tablet) {
        font-size: 1.2rem;
      }
      a {
        color: $pink;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.btn-purple {
  background-color: $pink-trans;
  border-radius: 5px;
  border: 1px solid $pink;
  color: $white;
  font-weight: 600;
  margin-top: 2em;
  padding: 1em;
  transition: all .3s ease;
  &:hover {
    background-color: $pink;
  }
}

.line1, .line2 {
  position: absolute;
  display: none;
  @include bp(mobile) {
    display: block;
  }
}

.line1 {
  animation: line1 2s ease-out;
  left: 5vw;
  top: 100px;
}

.line2 {
  animation: line2 2.5s ease-out;
  right: 10vw;
  top: 260px;
}

@keyframes line1 {
  0% {
    opacity: 0;
    top: 200px
  }
  100% {
    opacity: 1;
    top: 100px;
  }
}

@keyframes line2 {
  0% {
    opacity: 0;
    top: 200px
  }
  100% {
    opacity: 1;
    top: 260px;
  }
}
