/*	JOIN US SECTION
------------------------*/

.join {
  background-image: url('../images/home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  padding: 5vh 0;
  .row-inside {
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      color: $pink;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1em;
      max-width: 800px;
      @include bp(tablet) {
        font-size: 2.5rem;
      }
    }
    span {
      font-size: 1.8rem;
      font-style: italic;
      margin-bottom: .5em;
    }
    a {
      color: $white;
      font-size: 1.2rem;
      max-width: 800px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.btn-purple {
  background-color: $pink-trans;
  border-radius: 5px;
  border: 1px solid $pink;
  color: $white;
  font-weight: 600;
  margin-top: 2em;
  padding: 1em;
  transition: all .3s ease;
  &:hover {
    background-color: $pink;
  }
}
