/*	JOIN US SECTION
------------------------*/

.join {
  background-image: url('../images/home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  padding: 5vh 0;
  .row-inside {
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      color: $pink;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1em;
      max-width: 800px;
      @include bp(tablet) {
        font-size: 2.5rem;
      }
    }
    span {
      font-size: 1.8rem;
      font-style: italic;
      margin-bottom: .5em;
    }
    a {
      color: $white;
      cursor: pointer;
      font-size: 1.2rem;
      max-width: 800px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
