.lightbox {
    @include transition(all 1s ease-in);
    background: $black; //Fallback
    background: rgba($black, .8);
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    &.active {
        @include table-flex(center, center, flex, row, wrap, center);
        @include transition(all .5s ease-in);
        @include transition-delay(1s);
        opacity: 1;
    }
}
