.about {
    background-color: #2c2c2c;
    padding: 5rem 0;
    .wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .about-title {
        @extend %xxlarge;
        color: $orange;
        font-family: 'VarelaRound-Regular';
        line-height: 3rem;
    }
    .about-piece {
        color: $white;
        @include columns(2 3rem);
    }
    .pictures {
        margin-top: 2rem;
    }
    figure {
        @include transition (opacity .3s ease-in);
        display: inline-block;
        margin: 0;
        opacity: 0;
        width: 100%;
        &.display {
            @include transition (opacity .3s ease-in);
            opacity: 1;
        }
        img {
            border-radius: 20px;
            width: 100%;
        }
    }
    .photo-mention {
        color: $white;
        margin-top: 1rem;
        a {
            @include transition (color .2s ease-in);
            color: $orange;
            font-family: 'OpenSans-Bold';
            &:hover {
                @include transition (color .2s ease-in);
                color: $dark-orange;
            }
        }
    }
}

/////////////////////////////
// RESPONSIVE
/////////////////////////////

@include respond-to(handhelds) {
    .about {
        padding: 2rem 0;
        .wrapper {
            padding: 0 .5rem;
        }
        .about-piece {
            @include columns(1);
        }
    }
}

@include respond-to(medium-screens) {
    .about {
        padding: 2rem 0;
        .wrapper {
            padding: 0 .5rem;
        }
        .about-piece {
            @include columns(1);
        }
    }
}

@include respond-to(wide-screens) {
    .about {
        .wrapper {
            width: 960px;
        }
        figure {
            width: 475px;
        }
    }
}
