.about {
    background-color: #2c2c2c;
    padding: 5rem 0;
    .wrapper {
        margin: 0 auto;
        width: 960px;
    }
    .about-title {
        @extend %xxlarge;
        color: $orange;
        font-family: 'VarelaRound-Regular';
    }
    .about-piece {
        color: $white;
        @include columns(2 3rem);
    }
    .pictures {
        margin-top: 2rem;
    }
    figure {
        @include transition (opacity .3s ease-in);
        display: inline-block;
        margin: 0;
        opacity: 0;
        width: 475px;
        &.display {
            @include transition (opacity .3s ease-in);
            opacity: 1;
        }
        img {
            border-radius: 20px;
            width: 100%;
        }
    }
}
