.bonus {
    background-color: $black;
    box-shadow: -100px 0 100px #000;
    .wrapper {
        margin: 0 auto;
        padding: 5rem 0;
        width: 960px;
    }
    .multicolor {
        @include table-flex();
        width: 100%;
        .color {
            @include table-flex-child(1, 0);
            height: .2rem;
        }
    }
    .bonus-title {
        @extend %xxlarge;
        color: $orange;
        font-family: 'VarelaRound-Regular';
    }
    p {
        color: $white;
    }
}
