.bonus {
    background-color: $black;
    .wrapper {
        margin: 0 auto;
        padding: 5rem 0;
        width: 100%;
    }
    .multicolor {
        @include table-flex();
        width: 100%;
        .color {
            @include table-flex-child(1, 0);
            height: .4rem;
        }
    }
    .bonus-title {
        @extend %xxlarge;
        color: $orange;
        font-family: 'VarelaRound-Regular';
    }
    p {
        color: $white;
    }
}

/////////////////////////////
// RESPONSIVE
/////////////////////////////

@include respond-to(handhelds) {
    .bonus {
        .wrapper {
            padding: .5rem;
        }
    }
}

@include respond-to(medium-screens) {
    .bonus {
        .wrapper {
            padding: .5rem;
        }
    }
}

@include respond-to(wide-screens) {
    .bonus {
        .wrapper {
            width: 960px;
        }
        .video {
            iframe {
                height: 721px;
            }
        }
    }
}
