.faq {
    background-color: #2c2c2c;
    padding: 2rem 0;
    z-index: 9;
    .wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .faq-title {
        @extend %xxlarge;
        @extend %title;
        color: $orange;
        margin-bottom: 2rem;
    }
    .diacritica {
        margin-bottom: 2rem;
        embed,
        iframe,
        object {
            height: 100%;
            width: 100%;
        }
        p,
        strong {
            color: $white;
        }
    }
    .single-question {
        margin-bottom: 2rem;
        div {
            border-radius: 10px;
        }
    }
    .question {
        @extend %xlarge;
        color: $orange;
        font-family: 'OpenSans-Bold';
        line-height: 2.3rem;
        margin: 0 1rem;
    }
    .answer {
        @extend %large;
        background: lighten($blackish, 11%);
        color: $white;
        padding: 1rem;
    }
}

/////////////////////////////
// RESPONSIVE
/////////////////////////////

@include respond-to(handhelds) {
    .faq {
        .wrapper {
            padding: .5rem;
        }
    }
}

@include respond-to(medium-screens) {
    .faq {
        .wrapper {
            padding: .5rem;
        }
    }
}

@include respond-to(wide-screens) {
    .faq {
        padding: 5rem 0;
        .wrapper {
            width: 960px;
        }
        .diacritica {
            height: 721px;
        }
    }
    .single-question {
        @include table-flex();
    }
    .question {
        @include table-flex-child(1, 0);
        padding: 1rem;
    }
    .answer {
        @include table-flex-child(2, 0);
    }

}
