.header {
    @include table-flex(center, center, flex, column, wrap, center);
    background: url('../images/piweek.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    .wrapper {
        @include table-flex-child(0, auto, 0, 960px);
        text-align: center;
    }
    .icon-logo {
        color: $purple;
        font-size: 50px;
        margin-right: 1rem;
        vertical-align: middle;
    }
    .site-title {
        color: $white;
        font: normal 50px 'piweek';
        letter-spacing: -10px;
    }
    .site-description {
        @extend %small;
        color: $white;
        line-height: 3rem;
        span {
            display: block;
        }
        a {
            @include transition(color .3s linear);
            color: $orange;
            &:hover {
                @include transition(color .3s linear);
                color: $dark-orange;
            }
        }
    }
    .icon-arrow-circle {
        @extend %xxlarge;
        @include transition(opacity .2s ease-in);
        bottom: 1%;
        color: $whitish;
        opacity: .4;
        position: absolute;
        text-align: center;
        &:hover {
            @include transition(opacity .2s ease-in);
            opacity: .9;
        }
    }
}


/////////////////////////////
// RESPONSIVE
/////////////////////////////

@include respond-to(handhelds) {
    .header {
        .wrapper {
            @include table-flex-child(0, auto, 0, 100%);
        }
        .site-description {
            line-height: 1rem;
        }
    }
}

@include respond-to(medium-screens) {
    .header {
        .wrapper {
            @include table-flex-child(0, auto, 0, 100%);
        }
        .site-description {
            line-height: 1rem;
        }
    }
}

@include respond-to(wide-screens) {
    .header {
        .wrapper {
            @include table-flex-child(0, auto, 0, 960px);
        }
        .site-description {
            font-size: 1.8rem;
        }
        .icon-logo,
        .site-title {
            font-size: 100px;
        }
    }
}
