.media {
    background: #2c2c2c;
    position: relative;
    width: 100%;
    video {
        bottom: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        overflow: hidden;
        right: 0;
        top: 0;
        z-index: -1000;
    }
}
