.participation {
    @extend %title;
    @extend %xlarge;
    background: #761cec;
    color: $white;
    padding: 5rem 0;
    text-align: center;
    .wrapper {
        width: 100%;
    }
    .participation-title {
        @extend %participation-title;
        color: $white;
    }
    .date {
        @extend %xlarge;
        @extend %date;
        color: $black;
        vertical-align: middle;
    }
    a {
        color: $orange;
    }
}

/////////////////////////////
// RESPONSIVE
/////////////////////////////

@include respond-to(handhelds) {
    .participation {
        .wrapper {
            padding: 0 .5rem;
        }
    }
    %participation-title {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    %date {
        line-height: 2.2rem;
        padding: 0 4rem;
    }
}

@include respond-to(medium-screens) {
    .participation {
        .wrapper {
            padding: 0 .5rem;
        }
    }
    %participation-title {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    %date {
        line-height: 2.2rem;
        padding: 0 4rem;
    }
}

@include respond-to(wide-screens) {
    .participation {
        .wrapper {
            margin: 0 auto;
            width: 960px;
        }
    }
    %participation-title {
        line-height: 3.5rem;
    }
    %date {
        padding: 0;
    }
}
