.piweek-started {
    @include table-flex-child(0, 960px, 0);
    background: rgba($purple, .8);
    padding: 3rem;
    text-align: center;
    .title,
    .description {
        font-family: 'VarelaRound-Regular';
    }
    .title {
        @extend %xxlarge;
        color: $white;
    }
    .description {
        @extend %xlarge;
        line-height: 2.5rem;
    }
    .social {
        margin-bottom: 1rem;
        a {
            @include transition(color .3s linear);
            color: $black;
            display: inline-block;
            &:hover {
                color: $orange;
            }
            &:first-child {
                margin-right: 2rem;
            }
        }
        span {
            display: block;
        }
        .icon {
            @extend %xxlarge;
        }
    }
    .know-more {
        @extend %small;
        color: $orange;
        display: block;
        &:hover {
            color: $orange;
        }
    }
}

/////////////////////////////
// RESPONSIVE
/////////////////////////////

@include respond-to(handhelds) {

    .piweek-started {
        @include table-flex-child(0, 90%, 0);
        .title {
            color: $white;
            font-size: 1.6rem;
            line-height: 2rem;
        }
        .description {
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }
}

@include respond-to(medium-screens) {
    .piweek-started {
        @include table-flex-child(0, 90%, 0);
        .title {
            color: $white;
            font-size: 1.6rem;
            line-height: 2rem;
        }
        .description {
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }
}
