doctype html
html
  head
    title ΠWEEK | PiWeek, Personal Innovation Week
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="index,follow")

    meta(name="description" content="ΠWEEK (PiWeek, Personal Innovation Week) is an original idea by Kaleidos, every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.")
    meta(name="keywords" content="piweek, kaleidos, innovation, week")i

    meta(property="og:title" content="ΠWEEK | PiWeek, Personal Innovation Week")
    meta(property="og:site_name" content="PiWeek")
    meta(property="og:description" content="ΠWEEK (PiWeek, Personal Innovation Week) is an original idea by Kaleidos, every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@_piweek_")
    meta(name="twitter:title" content="ΠWEEK | PiWeek, Personal Innovation Week")
    meta(name="twitter:description" content="ΠWEEK (PiWeek, Personal Innovation Week) is an original idea by Kaleidos, every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.")

    link(rel="icon", href="../images/favicon.png", type="image/png")
    block head_end

  body
    block content

    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    block body_end
