doctype html
html
  head
    title ΠWEEK | pi Week, Personal Innovation Week
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="icon", href="../images/favicon.png", type="image/png")
    block head_end

  body
    block content

    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    block body_end
