section.about(view="about")
    div.wrapper
        h1.about-title ΠWEEK in a nutshell
        div.about-piece
            include ../pieces/about
        div.pictures
            figure
                img.avatar(src="images/about01.jpg", alt="username", width='480')
            figure
                img.avatar(src="images/about02.jpg", alt="username", width='480')
            figure
                img.avatar(src="images/about03.jpg", alt="username", width='480')
            figure
                img.avatar(src="images/about04.jpg", alt="username", width='480')
            figure
                img.avatar(src="images/about05.jpg", alt="username", width='480')
            figure
                img.avatar(src="images/about06.jpg", alt="username", width='480')
            p.photo-mention Fotos por
                a(href="http://www.aguadeborrajas.com/", title="Agua de borrajas", target="_blank")  Agua de borrajas
