section.faq(view="faq")
    div
        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ        p FAQ
        p FAQ
        p FAQ
        p FAQ
        p FAQ
