section.faq(view="faq")
    div.wrapper
        h1.faq-title Frequently Asked Questions!
        div.diacritica
            iframe(src="//player.vimeo.com/video/65858127?byline=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        article.single-question
            div.question
                p There are any rules?
            div.answer
                p Yes, all projects should be open source, and there should be a project working and a functional demo by last day of the PIweek.
        article.single-question
            div.question
                p My repository is marked as the wrong language
            div.answer
                p Check if you were drunk when you created your repository, if the octocat was drunk of if you just wrote your code in another language and you just found out.
        article.single-question
            div.question
                p Are pets allowed during the PIweek?
            div.answer
                p We love our developers and we try to treat them as they deserve. Please, stay away from the marked ones and don't feed them after midnight. We don't see them as pets, but well, the are like funny monkeys, so...
