section.header(view="header")
    div.wrapper
        div.site-title
            span.icon.icon-logo
            span.icon.icon-pi
            span.icon.icon-w
            span.icon.icon-e
            span.icon.icon-e
            span.icon.icon-k
        h1.site-description
            span <em>| ˈpaɪ ˈwiːk |</em>
            span Personal Innovation Week by
                a(href="http://kaleidos.net", title="Kaleidos", target="_blank")  Kaleidos
        a.icon.icon-arrow-circle.learn-more(href="", title="Learn More")
