section.header(view="header")
    div.wrapper
        div.site-title
            span.icon.icon-logo
            span.icon.icon-pi
            span.icon.icon-w
            span.icon.icon-e
            span.icon.icon-e
            span.icon.icon-k
        h1.site-description
            span <em>| ˈpaɪ ˈwiːk |</em>
            span is an original idea by
                a(href="http://kaleidos.net", title="Kaleidos", target="_blank")  Kaleidos
                span Kaleidos and it consists in allowing employees from participant technology companies to leave their ongoing work in standby and dedicate an entire week to personal projects

        a.icon.icon-arrow-circle.learn-more(href="", title="Learn More")
