section.header(view="header")
    div.wrapper
        div.site-title
            span.icon.icon-logo
            span.icon.icon-pi
            span.icon.icon-w
            span.icon.icon-e
            span.icon.icon-e
            span.icon.icon-k
        h1.site-description
            span <em>| ˈpaɪ ˈwiːk |</em>
            span is an original idea by
                a(href="http://kaleidos.net", title="Kaleidos", target="_blank")  Kaleidos
                span Every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.
        h2.next-edition
            span #piweek 6th edition
            span  14-18 July, 2014
        a.participate(href="", title="Want to participate?") Do you want to join us?
        a.icon.icon-arrow-circle.learn-more(href="", title="Learn More")
    include started
