section.participation
    div.wrapper
        h1.participation-title If you or your organisation want to know more about how to enjoy our next ΠWEEK contact us!
        p.date 14th to 18th of July 2014
        a(href="mailto:hello@kaleidos.net", title="hello@kaleidos.net") hello@kaleidos.net
