section.participation
    div.wrapper
        h1.participation-title If you or your organisation want to know more about how to enjoy our next ΠWEEK contact us!
        p.date 19th to 23rd of December, 2016
        a(href="mailto:hello@kaleidos.net", title="Send mail to hello@kaleidos.net") hello@kaleidos.net
