section.projects.macadjan.ready(view="projects")
    div.wrapper
        div.project-nav
            a.icon.icon-arrow-left.prev-project(href="", title="Prev project")
            a.icon.icon-arrow-right.next-project(href="", title="Next project")

        div.projects-header
            h1.projects-title Showcase
            p Check our successful projects in previous ΠWEEK editions

        article.project.active(data-project="macadjan")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="https://github.com/hirunatan/macadjan", title="", target="_blank") Macadjan
                    p Mapping and Catalog with Django
                    p Web application to build a catalog of geographically positioned entities, with classification and searching capabilities by different criteria. The catalog management is distributed, allowing different teams to manage (and view) parts of the same catalog, or to have separated catalogs that synchronize between them with flexible parameters.
                    p It has been used in Mapunto project (<a href="www.mapunto.net" target="blank" title="mapunto">www.mapunto.net</a>) to create a catalog of social transformation projects.
                    ul.dev
                        li Developed by
                        li
                            a(href="http://kaleidos.net/002e33/", title="Andrés Moya", target="blank") Andrés Moya [Engineer]
                        li
                            a(href="http://kaleidos.net/0F0F0F/", title="Teresa de la Torre", target="blank") Teresa de la Torre [Engineer]
                        li
                            a(href="http://es.linkedin.com/in/ludita", title="Isabel Inés", target="blank") Isabel Inés [Ux & design]
                div.captures
                    figure.capture
                        a(href="", title="Macadjan", target="_blank")
                            img(src="images/macadjan-capture.jpg", alt="Macadjan Capture")
                    figure.capture
                        a(href="", title="Macadjan", target="_blank")
                            img(src="images/macadjan-capture_02.jpg", alt="Macadjan Capture")

        article.project(data-project="parsero")
             div.project-container
                div.project-data
                    h2.project-name
                        a(href="https://github.com/alejandrogomez/parsero", title="", target="_blank") Parsero
                    p.
                        Parsero is a Clojure library for generating parsers, it exposes a DSL that allows to describe the production rules of a formal language's
                        grammar and a set of combinators for creating parsers. The library
                        allows to express context-free grammars. Parsers are first-class values
                        and can be combined to produce new ones.
                    p.
                        Parsero's design is inspired by Haskell's Parsec, whose implementation
                        utilizes monads. Monads allow the composition of parsers and the
                        generation of complex parsers with a set of very simple primitives.
                        Parser definitions using parsero look a lot like the formal definition
                        of a grammar, which makes them readable and easy to implement.
                    h3.dev
                        span Developed by
                        a(href="", title="Alejandro Gómez")  Alejandro Gómez
                div.captures
                    figure.capture
                        a(href="", title="Parsero", target="_blank")
                            img(src="images/parsero-capture.jpg", alt="Parsero Capture")
                    figure.capture
                        a(href="", title="Parsero", target="_blank")
                            img(src="images/parsero-capture_02.jpg", alt="Parsero Capture")

        article.project(data-project="ttdp")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="https://github.com/yamila-moreno/ttparo.es", title="", target="_blank") Tutasadeparo
                    p En TTparo.es utilizamos los microdatos de la EPA, filtramos, agregamos y seleccionamos aquellas variables más relevantes para determinar cuál es la tasa de paro que te afecta a ti, por tu perfil específico, y te proporcionamos herramientas para que veas cómo ha evolucionado este perfil a través del tiempo y en qué provincias esta tasa es más favorable.
                    p Es un proyecto nacido de una feliz coincidencia entre un apasionado de la estadística y un equipo de UX, diseño y desarrollo muy motivado y con una semana dedicada. Está íntegramente realizado con tecnologías libres. Actualmente hay una mantenedora principal del código, pero se siguen recibiendo contribuciones periódicas y se realizan pequeñas mejoras. Además, se mantienen los datos actualizados puntualmente con las actualizaciones de la EPA.
                    ul.dev
                        li Developed by
                        li
                            a(href="http://kaleidos.net/D70A53/", title="Yamila Moreno", target="blank") Yamila Moreno [Engineer]
                        li
                            a(href="http://kaleidos.net/40826D/", title="Juanfran Alcántara", target="blank") Juanfran Alcántara [Engineer]
                        li
                            a(href="http://twitter.com/evampp", title="Eva Pérez", target="blank") Eva Pérez [UX]
                        li
                            a(href="https://www.linkedin.com/in/francisvega", title="Francis Vega", target="blank") Francis Vega [Design]
                        li
                            a(href="http://twitter.com/luiyo", title="Luis García Castro", target="blank") Luis García Castro [Engineer]
                        li
                            a(href="http://twitter.com/gilbellosta", title="Carlos Gil Bellosta", target="blank") Carlos Gil Bellosta [Data Analytics]
                        li
                            a(href="http://kaleidos.net/A5694F/", title="Andrey Antukh", target="blank") Andrey Antukh [Engineer]
                        li
                            a(href="http://kaleidos.net/FC8EAC/", title="Alejandro Alonso", target="blank") Alejandro Alonso [Engineer]
                        li
                            a(href="http://kaleidos.net/007000/", title="Jesús Espino", target="blank") Jesús Espino [Engineer]
                        li
                            a(href="http://kaleidos.net/CC0000/", title="Xavi Julián", target="blank")  Xavi Julián [Front-end]
                div.captures
                    figure.capture
                        a(href="", title="Tutasadeparo", target="_blank")
                            img(src="images/ttdp-capture.jpg", alt="Tutasadeparo Capture")
                    figure.capture
                        a(href="", title="Tutasadeparo", target="_blank")
                            img(src="images/ttdp-capture_02.jpg", alt="Tutasadeparo Capture")

        article.project(data-project="comics")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="https://github.com/pabloalba/komics", title="", target="_blank") Comics Magic Reader
                    p Comic Magic Reader is a fast and smart reader for comics.It has a lot of cool features, like a file browser to search comics, front pages preview, read different comics format, has several zooms...
                    p And it has a special feature: The magic mode. This is an experimental feature that tries to detect the panels of the page and navigate by zooming them.
                    ul.dev
                        li Developed by
                        li
                            a(href="http://kaleidos.net/708090/", title="Pablo Alba", target="blank") Pablo Alba [Engineer]
                        li
                             a(href="https://twitter.com/elhombretecla", title="Juan de la Cruz", target="blank") Juan de la Cruz [Logo design]
                div.captures
                    figure.capture
                        a(href="", title="ComicsMagic", target="_blank")
                            img(src="images/comic-capture.jpg", alt="Comics Magic Capture")
                    figure.capture
                        a(href="", title="ComicsMagic", target="_blank")
                            img(src="images/comic-capture_02.jpg", alt="Comics Magic Capture")

        article.project(data-project="taiga")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="https://github.com/taigaio", title="Taiga", target="_blank") Taiga
                    p Taiga is a free, full-featured agile project management layer for your team
                    ul.dev
                        li
                            span Developed by
                        li
                            a(href="http://kaleidos.net/A5694F/", title="Andrey Antukh", target="blank") Andrey Antukh [Engineer]
                        li
                            a(href="http://kaleidos.net/FFF8E7/", title="David Barragán", target="blank") David Barragán [Engineer]
                        li
                            a(href="http://kaleidos.net/007000/", title="Jesús Espino", target="blank") Jesús Espino [Engineer]
                        li
                            a(href="http://kaleidos.net/FC8EAC/", title="Alejandro Alonso", target="blank") Alejandro Alonso [Engineer]
                        li
                            a(href="http://kaleidos.net/2099DB/", title="Anler Hernández", target="blank") Anler Hernández [Engineer]
                        li
                            a(href="http://kaleidos.net/40826D/", title="Juanfran Alcántara", target="blank") Juanfran Alcántara [Front-end]
                        li
                            a(href="http://kaleidos.net/CC0000/", title="Xavi Julián", target="blank")  Xavi Julián [Designer & Front-end]
                        li
                            a(href="http://www.linkedin.com/in/pilaresteban", title="Pilar Esteban", target="blank") Pilar Esteban [UX]
                        li
                            a(href="https://www.linkedin.com/pub/guilhem-got/3/756/740", title="Guilhem Got ", target="blank") Guilhem Got [UX]

                div.captures
                    figure.capture
                        a(href="", title="Taiga", target="_blank")
                            img(src="images/taiga-capture.jpg", alt="Taiga Capture")
                    figure.capture
                        a(href="", title="Taiga", target="_blank")
                            img(src="images/taiga-capture_02.jpg", alt="Taiga Capture")

        article.project(data-project="fogg")
             div.project-container
                 div.project-single
                     figure.capture
                         a(href="https://github.com/PIWEEK/mrfogg", title="MrFogg", target="_blank")
                             img(src="images/fogg-capture.jpg", alt="MrFogg Capture")
                     h2.project-name
                        a(href="https://github.com/PIWEEK/mrfogg", title="MrFogg", target="_blank") MrFogg
                     p The idea of Mr. Fogg is to provide a enjoyable platform to organize your travels and meetings. The users can create "tasks" and attach "cards" that can be shared, asigned and discussed. With this tool you will not have to create another shared Google Doc to organize your travels!
                     ul.dev
                        li
                            span Developed by
                        li
                            a(href="http://kaleidos.net/FFFF00/", title="Alonso Torres", target="blank") Alonso Torres [Engineer, JS]
                        li
                            a(href="http://kaleidos.net/C0FF33/", title="Miguel de la Cruz", target="blank") Miguel de la Cruz [Engineer]
                        li
                            a(href="http://kaleidos.net/FF9900/", title="Mario García", target="blank") Mario García [Engineer]
                        li
                            a(href="https://github.com/gnufede", title="Federico Mon Trotti", target="blank") Federico Mon Trotti [JS]
                        li
                            a(href="http://kaleidos.net/FFCC00/", title="Ramiro Sánchez", target="blank") Ramiro Sánchez [Front-end]
                        li
                            a(href="https://twitter.com/elhombretecla", title="Juan de la Cruz", target="blank") Juan de la Cruz [Design]

                 div.project-single
                     figure.capture
                         a(href="https://github.com/lmivan/yasn", title="YASN", target="_blank")
                             img(src="images/yasn-capture.jpg", alt="YASN Capture")
                     h2.project-name
                        a(href="https://github.com/lmivan/yasn", title="YASN", target="_blank") YASN
                     p Yet Another Social Network is a Twitter-like clone developed as a proof-of-concept to create an uberfast social network. The idea is that in the big ones social networks like Instagram the ratio between the reads and the writes is far too long for the reads. With millions of users the reads must be really fast and it's acceptable that the writes takes a few milliseconds to propagate the changes to all the followers.
                     ul.dev
                        li
                            span Developed by
                        li
                            a(href="http://kaleidos.net/4B0082/", title="Iván lópez", target="blank") Iván lópez [Engineer]
                        li
                            a(href="https://twitter.com/elhombretecla", title="Juan de la Cruz", target="blank") Juan de la Cruz [Logo design]

                 div.project-single
                     figure.capture
                         img(src="images/defcon-capture.jpg", alt="yourcon Capture")
                     h2.project-name
                        span Yourcon
                     p Defcon is an alert posture used by the United States Armed Forces. It prescribes five graduated levels of readiness (or states of alert) for the U.S. military, and increase in severity from DEFCON 5 (least severe) to DEFCON 1 (most severe). Imagine using it in a visual way for sharing info. Why using 140 characters if 99% times a number from 1 to 5 is just enough!
                     ul.dev
                        li
                            span Developed by
                        li
                            a(href="http://kaleidos.net/FC8EAC/", title="Alejandro Alonso", target="blank") Alejandro Alonso [Engineer]
                        li
                            a(href="http://kaleidos.net/A5694F/", title="Andrey Antukh", target="blank") Andrey Antukh [Engineer]
                        li
                            a(href="http://kaleidos.net/FFF8E7/", title="David Barragán", target="blank") David Barragán [Engineer]
                        li
                            a(href="http://kaleidos.net/007000/", title="Jesús Espino", target="blank") Jesús Espino [Engineer]
