section.projects.macadjan(view="projects")
    div.wrapper
        div.projects-header
            h1.projects-title Showcase
            p Check our successful projects in previous ΠWEEK editions
        div.project-nav
            a.icon.icon-arrow-left.prev-project(href="", title="Prev project")
            a.icon.icon-arrow-right.next-project(href="", title="Next project")
        article.project.active
            figure.capture
                a(href="", title="Macadjan", target="_blank")
                    img(src="images/macadjan-capture.jpg", alt="Macadjan Capture")
            h2.project-name
                a(href="", title="", target="_blank") Macadjan
            p Mapping and Catalog with Django
            h3.dev
                span Developed by
                a(href="", title="Andrés Moya")  Andrés Moya
        article.project
            h2
                a(href="", title="", target="_blank") Parsero
            figure
                a(href="", title="Parsero", target="_blank")
                    img(src="", alt="Parsero Screenshot")
            h3
                span Developed by
                a(href="", title="Alejandro Gómez") Alejandro Gómez
            p Parser combinator library inspired by Haskell's Parsec.
