section.projects.macadjan.ready(view="projects")
    div.wrapper
        div.project-nav
            a.icon.icon-arrow-left.prev-project(href="", title="Prev project")
            a.icon.icon-arrow-right.next-project(href="", title="Next project")

        div.projects-header
            h1.projects-title Showcase
            p Check our successful projects in previous ΠWEEK editions

        article.project.active(data-project="macadjan")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="", title="", target="_blank") Macadjan
                    p Mapping and Catalog with Django
                    h3.dev
                        span Developed by
                        a(href="", title="Andrés Moya")  Andrés Moya
                div.captures
                    figure.capture
                        a(href="", title="Macadjan", target="_blank")
                            img(src="images/macadjan-capture.jpg", alt="Macadjan Capture")
                    figure.capture
                        a(href="", title="Macadjan", target="_blank")
                            img(src="images/macadjan-capture_02.jpg", alt="Macadjan Capture")

        article.project(data-project="parsero")
             div.project-container
                div.project-data
                    h2.project-name
                        a(href="", title="", target="_blank") Parsero
                    p Parser combinator library inspired by Haskell Parsec
                    h3.dev
                        span Developed by
                        a(href="", title="Alejandro Gómez")  Alejandro Gómez
                div.captures
                    figure.capture
                        a(href="", title="Parsero", target="_blank")
                            img(src="images/parsero-capture.jpg", alt="Parsero Capture")
                    figure.capture
                        a(href="", title="Parsero", target="_blank")
                            img(src="images/parsero-capture_02.jpg", alt="Parsero Capture")

        article.project(data-project="ttdp")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="", title="", target="_blank") Tutasadeparo
                    p En TTparo.es utilizamos los microdatos de la EPA, filtramos, agregamos y seleccionamos aquellas variables más relevantes para determinar cuál es la tasa de paro que te afecta a ti, por tu perfil específico, y te proporcionamos herramientas para que veas cómo ha evolucionado este perfil a través del tiempo y en qué provincias esta tasa es más favorable.
                    h3.dev
                        span Developed by
                        a(href="", title="Yamila Moreno")  Yamila Moreno
                div.captures
                    figure.capture
                        a(href="", title="Tutasadeparo", target="_blank")
                            img(src="images/ttdp-capture.jpg", alt="Tutasadeparo Capture")
                    figure.capture
                        a(href="", title="Tutasadeparo", target="_blank")
                            img(src="images/ttdp-capture_02.jpg", alt="Tutasadeparo Capture")

        article.project(data-project="comics")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="", title="", target="_blank") Comics Magic Reader
                    p Comic Magic Reader es una aplicación para leer cómics, rápida y elegante.
                    h3.dev
                        span Developed by
                        a(href="", title="Pablo Alba")  Pablo Alba
                div.captures
                    figure.capture
                        a(href="", title="ComicsMagic", target="_blank")
                            img(src="images/comic-capture.jpg", alt="Comics Magic Capture")
                    figure.capture
                        a(href="", title="ComicsMagic", target="_blank")
                            img(src="images/comic-capture_02.jpg", alt="Comics Magic Capture")

        article.project(data-project="taiga")
            div.project-container
                div.project-data
                    h2.project-name
                        a(href="", title="", target="_blank") Taiga
                    p Project management web application with scrum in mind! Built on top of Django and AngularJS
                    h3.dev
                        span Developed by
                        a(href="", title="Pablo Alba")  Andrey Antukh
                div.captures
                    figure.capture
                        a(href="", title="Taiga", target="_blank")
                            img(src="images/taiga-capture.jpg", alt="Taiga Capture")
                    figure.capture
                        a(href="", title="Taiga", target="_blank")
                            img(src="images/taiga-capture_02.jpg", alt="Taiga Capture")
