div.lightbox
    div.piweek-started
        p.title Hey! 6th ΠWEEK has already started!
        p.description If you want to know what is going on this week please follow us in
        div.social
            a(href="https://twitter.com/hashtag/piweek?f=realtime&src=hash", target="blank", title="#piweek")
                span.icon.icon-twitter
                span.hashtag #piweek
            a(href="http://piweek.tumblr.com/", target="blank", title="tumblr")
                span.icon.icon-tumblr
                span.hashtag tumblr
         a.know-more(href="#", title="Learn more") Do you want to know more about the ΠWEEK?
