extends views/layout/layout

block content
    include views/modules/header
    include views/modules/about
    include views/modules/projects
    include views/modules/media
    include views/modules/faq
    include views/modules/participation
    include views/modules/bonus
