p.
    The ΠWEEK was created by Kaleidos upon its birth as part of an internal collaborative document codenamed WTF! than ended up listing more than 70 bizarre ideas. ΠWEEK is WTF idea #16.
p.
    ΠWEEK is our way to ensure we set aside time to innovate.
    In order to have an impact we invite other companies and individuals to interbreed with us, aiming for a national and then international spectrum of participants.
    Although Kaleidos will always devote 100% of its employees’ time, it is not mandatory that other invited companies do the same.
p.
    The dymanics are very simple to follow.
    Weeks or days before the next ΠWEEK starts, participants share an online document in which every project or initiative is presented.
    There are absolutely no restrictions as to what themes or technology apply. Only two basic rules are mandatory.
    #1 You must use free or open source components for your project and
    #2 by Friday 12.00am you must show a working prototype.
