p The ΠWEEK was born in 2011, alongside Kaleidos, as part of an internal collaborative document called WTF! with more than 70 ideas.
p ΠWEEK is our way to ensure we set aside time to innovate with no constraints. In order to have an impact we invite other companies and individuals to interbreed with us, aiming for a national and then international spectrum of participants. Although Kaleidos will always devote 100% of its employees’ time, it is not mandatory that other invited companies do the same.
