doctype html
html
    head
        title ΠWEEK | pi Week, Personal Innovation Week
        meta(name="description", content="Personal Innovation Week")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="keywords", content="Kaleidos, piweek, innovation")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel='stylesheet', href='styles/main.css', type='text/css' )
        link(rel='stylesheet', href='styles/normalize.css', type='text/css' )
        block head
    body
        block content

    footer
        script(type='text/javascript',  src='scripts/libs.js')
        script(type="text/javascript").
            var windowheight = $(window).height();
            $('.header').height(windowheight);
            console.log($('.header'));
        script(type='text/javascript',  src='scripts/script.js')
        block footer
