// Colors

// Colors

$black: #000;
$blackish: #050505;
$gray: #555;
$grayer: #444;
$gray-light: #cdcdcd;
$whitish: #f5f5f5;
$white: #fff;

//- Kaleidos
$purple: #761cec;

//- Links
$orange: #ffb093;
$dark-orange: #a64f2d;
