section.faq#faq.row-center
  div.row-inside

    h2.section-title Frequently Asked Questions!

    div.two-col
      div.col

        div.faq-card
          h4 Are there any rules?
          div.faq-text
            p #1 You must use free or open source components for your project and #2 by Friday 12.00am you must show a working prototype. It is expected but not mandatory that your project is released as open source shortly after the PIWEEK ends.
        div.faq-card
          h4 Can I participate part-time?
          div.faq-text
            p While the ΠWEEK was born as a full-time endeavour, it's acceptable to join it part-time. Just be sure everyone knows that so you correctly manage expectations.
        div.faq-card
          h4 What type of projects/skills are most typical?
          div.faq-text
            p Software/Hardware in general. Web, mobile, desktop, embedded, arduino, robotics, etc. The skills needed for these topics vary so much we couldn't list them all but some examples include: python, groovy, c++, html5, javascript, mathematics, mechanical engineering, statistics, design, user experience, databases, android, etc.

      div.col

        div.faq-card
          h4 Who is the owner of the code/idea?
          div.faq-text
            p The team as a collective author. If you are proposing a project make sure the legal terms are clear from the beginning and if you are joining another's project, you have to abide to its rules. If participants or companies wish to keep control of the end result, it is OK as long as they clearly state it beforehand. 95% of the project are born with a free or open source license in mind. For the remaining 5%, each case must be considered alone.
        div.faq-card
          h4 As a company, do I have to fully commit to the ΠWEEK?
          div.faq-text
            p No. Although #[a(href="https://kaleidos.net" target="_blank") Kaleidos]  will always devote 100% of its employees, your company doesn't need to. There is no minimum percentage to what a company is required to join the ΠWEEK.
        div.faq-card
          h4 Do I need to be physically in Madrid to join the ΠWEEK?
          div.faq-text
            p Absolutely not! The ΠWEEK is not geographicaly dependant at all. If you live or work in Madrid, though, you are invited to enjoy the whole week at our (awesome) place.
