header.main-header.row-center
  div.row-inside

    a(href="/").main-logo
      include ../images/main-logo.svg

    ul.main-nav
      li
        a(href="#what-is-it").smooth What is this?
      li
        a(href="#showcase").smooth Showcase
      li
        a(href="#faq").smooth FAQ
      li
        a(href="#join").join-us.smooth Know more?
