section.hero.row-center
  div.row-inside

    h1 #piweek XXI edition <br/>13th to 17th of December, 2021
    span | ˈpaɪ ˈwiːk |
    h4 is an original idea by #[a(href="https://kaleidos.net" target="_blank") Kaleidos] <br/>Every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.
    a(href="#join").btn-purple.smooth Do you want to know more?

  span.line1
    include ../images/lines1.svg
  span.line2
    include ../images/lines2.svg
