section.hero.row-center
  div.row-inside

    h1 #piweek XVIII edition <br/>13th to 17th of July, 2020
    span | ˈpaɪ ˈwiːk |
    h4 is an original idea by Kaleidos <br/>Every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.
    a(href="#join").btn-purple.smooth Do you want to join us?

  span.line1
    include ../images/lines1.svg
  span.line2
    include ../images/lines2.svg
