section.join#join.row-center
  div.row-inside

    h2 If you or your organisation want to know more about how to enjoy our next ΠWEEK contact us!
    span 13th to 17th of July, 2020
    a(href="mainlto:hello@kaleidos.net", target="_blank") hello@kaleidos.net

    include footer
