section.join#join.row-center
  div.row-inside

    h2 If you or your organisation want to know more about our next ΠWEEK contact us!
    a(href="mainlto:hello@kaleidos.net", target="_blank") hello@kaleidos.net

    include footer
