section.row-pictures
  img(src="./images/about01.jpg", alt="Woman working with hardware")
  img(src="./images/about02.jpg", alt="A team working on a project")
  img(src="./images/about03.jpg", alt="Developer portrait")
  img(src="./images/about04.jpg", alt="A team talking and smiling")
