section.showcase#showcase.row-center
  div.row-inside

    h2.section-title Showcase
    h3 Check a random selection of our 30+ projects list so far

    a(href="#").control_next
      include ../images/arrow.svg
    a(href="#").control_prev
      include ../images/arrow.svg
    div#slider
      ul
        li
          div.two-col
            div.col
              img(src="./images/projects/uxbox.jpg", alt="UXBOX", border="0")
            div.col
              h3 PENPOT
              p Penpot is the first Open Source design and prototyping platform meant for cross-domain teams. Non dependent on operating systems, Penpot is web based and works with open web standards (SVG). Follow the project progress in our community space or in our social networks and stay tuned!
              p
                a(href="http://penpot.app/", target="_blank") Visit PENPOT site
        li
          div.two-col
            div.col
              img(src="./images/projects/baoqu.jpg", alt="BAOQU", border="0")
            div.col
              h3 BAOQU
              p Online deliberation for massive groups. Horizontal deliberation for massive groups in a whole new way. Mapping the conversation, we map visually the deliberation in a fractal way. Trolling resilient, system rules for crosspollination and troll resilience.
              p
                a(href="https://github.com/baoqu", target="_blank") Visit BAOQU site
        li
          div.two-col
            div.col
              img(src="./images/projects/taiga.jpg", alt="TAIGA", border="0")
            div.col
              h3 TAIGA
              p Free. Open Source. Simple to use. Taiga is a project management platform for agile developers & designers and project managers who want a beautiful tool that makes work truly enjoyable.
              p
                a(href="http://taiga.io", target="_blank") Visit TAIGA site
        li
          div.two-col
            div.col
              img(src="./images/projects/bunny.jpg", alt="SAVE THE BUNNY", border="0")
            div.col
              h3 SAVE THE BUNNY
              p You are the "Merlin" the bunny, and you are trapped in a labyrinth with other animals that want to catch you. Every time you move, the dogs Lucio and Sombra move twice! And fox Teo moves three! And there are times that there are two at a time! Can you get to your burrow without being caught?
              p
                a(href="https://play.google.com/store/apps/details?id=es.seastorm.merlin", target="_blank") Download from Play Store
