section.showcase#showcase.row-center
  div.row-inside

    h2.section-title Showcase
    h3 Check a random selection of our 30+ projects list so far

    a(href="#").control_next
      include ../images/arrow.svg
    a(href="#").control_prev
      include ../images/arrow.svg
    div#slider
      ul
        li
          div.two-col
            div.col
              img(src="./images/projects/penpot.png", alt="PENPOT screenshot", border="0")
            div.col
              h3 PENPOT
              p Penpot is the first open-source design and prototyping platform for product teams. Designers and developers can finally work in unison to build beautifully designed software experiences that truly scale up.
              p Non dependent on operating systems, Penpot is web based and works with open web standards (SVG). This approach means zero vendor lock-in and extreme interoperability.

              p Follow the project progress via our <a href="https://community.penpot.app" target="_blank">Community space</a> and stay tuned!
              p
                a(href="http://penpot.app/", target="_blank") Check out PENPOT!
        li
          div.two-col
            div.col
              img(src="./images/projects/taiga.jpg", alt="TAIGA screenshot", border="0")
            div.col
              h3 TAIGA
              p Free. Open Source. Simple to use. Taiga is a project management platform for agile developers & designers and project managers who want a beautiful tool that makes work truly enjoyable.
              p Follow the project progress via our <a href="https://community.taiga.io" target="_blank">Community space</a> and stay tuned!
              p
                a(href="http://taiga.io", target="_blank") Check out TAIGA!
        li
          div.two-col
            div.col
              img(src="./images/projects/baoqu.jpg", alt="BAOQU screenshot", border="0")
            div.col
              h3 BAOQU
              p Online deliberation for massive groups. Horizontal deliberation for massive groups in a whole new way. Mapping the conversation, we map visually the deliberation in a fractal way. Trolling resilient, system rules for crosspollination and troll resilience.
              p
                a(href="https://github.com/baoqu", target="_blank") Visit BAOQU code
        li
          div.two-col
            div.col
              img(src="./images/projects/bunny.jpg", alt="SAVE THE BUNNY screenshot", border="0")
            div.col
              h3 SAVE THE BUNNY
              p You are the "Merlin" the bunny, and you are trapped in a labyrinth with other animals that want to catch you. Every time you move, the dogs Lucio and Sombra move twice! And fox Teo moves three! And there are times that there are two at a time! Can you get to your burrow without being caught?
              p
                a(href="https://play.google.com/store/apps/details?id=es.seastorm.merlin", target="_blank") Download from Play Store
