section.showcase#showcase.row-center
  div.row-inside

    h2.section-title Showcase
    h3 Check a random selection of our 30+ projects list so far

    a(href="#").control_next
      include ../images/arrow.svg
    a(href="#").control_prev
      include ../images/arrow.svg
    div#slider
      ul
        li
          div.two-col
            div.col
              img(src="./images/projects/uxbox.jpg", alt="UXBOX", border="0")
            div.col
              h3 UXBOX
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        li
          div.two-col
            div.col
              img(src="./images/projects/baoqu.jpg", alt="BAOQU", border="0")
            div.col
              h3 BAOQU
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        li SLIDE 3
        li SLIDE 4
