/*	COLORS
------------------------*/

$white: #ffffff;
$black: #000000;
$gray-medium: #999999;
$gray-light: #f1f1f1;
$pink: #d04eb7;
$pink-trans: rgba(208,78,183,.6);
$g-blue: #3d2edd;
$g-purple: #7320b9;
